.survey-card {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.2);
}

.survey-card-title {
  font-family: 'Proxima Nova', Helvetica, sans-serif;
  font-size: 14px;
}

.survey-card-text {
  font-size: 12px;
}

.survey-card-footer::before {
  content: '';
  display: block;
  width: 40px;
  height: 0;
  border-top: 1px solid #cdcfd2;
  margin: 8px 0;
}

.survey-card-footer::after {
  content: '';
  flex-basis: 100%;
}

.survey-no-response {
  height: 157px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.survey-no-response div {
  display: block;
}

.survey-no-response div img {
  width: 48px;
}

.survey-loading,
.survey-no-available {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 328px;
}

.survey-no-response div {
  display: block;
}
