#survey-new {
  padding: 0.5em 1em;
}

.title {
  color: #6772e5;
  padding: 0.5em;
}
.wrap {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(84, 96, 103, 0.25);
}
.invalid-message {
  color: #dc3545;
  font-size: 13px;
}
