@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.eot');
  src: url('./fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.woff')
      format('woff'),
    url('./fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.ttf')
      format('truetype'),
    url('./fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.svg#proxima_nova_altregular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f1f5f9;
  color: #525f7f;
  font-family: 'Proxima Nova', Helvetica, sans-serif;
}
